<li class="list-group-item clearfix">
  <%= search_form_for @q do |f| %>
    <%= f.label :messages_sender_id %>
    <%= f.select :messages_sender_id_eq, [1, 2, 3] %>

    <%= f.label :pin %>
    <%= f.select :pin_eq, [true, false], class: "btn" %>

    <%= f.submit "search" %>
    <%= link_to 'clear', root_path, class: "btn btn-danger"%>
  <% end %>
  <%= image_tag current_user.image.thumb.url %>
  <% if @box == "trash" %>
    <%= render partial: "form", locals: { action: change_trash_message_state_conversations_path } %>
  <% else %>
    <%= render partial: "form", move_to_trash: true, locals: { action: new_move_to_trash_conversations_path } %>
  <% end %>
</li>