<li class="list-group-item clearfix">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>寄件人</th>
          <th>主旨<%= link_to "▲", sort_url(@q, :subject, default_order: :desc) %> <%= link_to "▼", sort_url(@q, :subject, default_order: :asc) %>
</th>
          <th>時間<%= link_to "▲", sort_url(@q, :created_at, default_order: :desc) %> <%= link_to "▼", sort_url(@q, :created_at, default_order: :asc) %>
</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td><%= check_box_tag "conversation_ids[]", conversation.id %></td>
            <td><%= conversation.participants.last.name %></td>
            <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
            <td><small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%F %T") %></span>)</small></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</li>