<li class="list-group-item clearfix">
  <%= search_form_for @q do |f| %>
    <%= f.label :messages_sender_id %>
    <%= f.select :messages_sender_id_eq, [1, 2, 3] %>

    <%= f.label :pin %>
    <%= f.select :pin_eq, [true, false], class: "btn" %>

    <%= f.submit "search" %>
    <%= link_to 'clear', root_path, class: "btn btn-danger"%>
  <% end %>
  <%= image_tag current_user.image.thumb.url %>
    <table class="conversation">
      <thead>
        <tr>
          <th></th>
          <th>寄件人<%= link_to "▲", sort_url(@q, :messages_sender_id, default_order: :desc) %> 
          <%= link_to "▼", sort_url(@q, :messages_sender_id, default_order: :asc) %></th>
          <th>重要<%= link_to "▲", sort_url(@q, :pin, default_order: :desc) %> <%= link_to "▼", sort_url(@q, :pin, default_order: :asc) %></th>
          <th>主旨<%= link_to "▲", sort_url(@q, :subject, default_order: :desc) %> <%= link_to "▼", sort_url(@q, :subject, default_order: :asc) %>
</th>
          <th>時間<%= link_to "▲", sort_url(@q, :created_at, default_order: :desc) %> <%= link_to "▼", sort_url(@q, :created_at, default_order: :asc) %>
</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td><%= check_box_tag "conversation_ids[]", conversation.id %></td>
            <td><%= conversation.sender_name %></td>
            <td><%= link_to "點選", toggle_pinned_conversation_path(conversation), id: "conversation_id_#{conversation.id}", method: :put, remote: true, class: "#{conversation.pin ? 'pinned' : ''} pin_item" %></td>
            <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
            <td><small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%F %T") %></span>)</small></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</li>