<% page_header "Start Conversation" %>

<%= form_tag admin_messages_path, method: :post do %>
  <fieldset class="inputs">
    <ol>
      <li class="subject input required stringish">
        <div class="form-group">
          <%= label_tag 'message[subject]', 'Subject' %>
          <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
        </div>
      </li>
      <li class="body input required stringish">
        <div class="form-group">
          <%= label_tag 'message[body]', 'Message' %>
          <%= text_area_tag 'message[body]', nil, cols: 3, rows: 10, class: 'form-control', required: true %>
        </div>
      </li>
      <li class="receipients input required stringish">
        <div class="form-group">
          <%= label_tag 'recipients', 'Choose recipients' %>
          <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
        </div>
      </li>
    </ol>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li class="action input_action">
        <%= submit_tag 'Send', class: 'btn btn-primary' %>
      </li>
      <li class="cancel">
        <%= link_to "Cancel", admin_conversations_path %>
      </li>
    </ol>
  </fieldset>
<% end %>