<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= yield :head %>
  <title>Synergy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <div class="page-header">
      <h1><%= yield :page_header %></h1>
    </div>

    <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Synergy', root_path, class: 'navbar-brand' %>
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if Notification.havent_check_unread_box_notification_count(current_user).nonzero? %>
            <li class="nav-item btn-group" data-behavior="notifications">   
             <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    
                <span data-behavior="unread-count"><%= Notification.havent_check_unread_box_notification_count(current_user) %></span>    
             </a>    
             <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">    
              <ul>    
                  <li>    
                    <%= link_to "個人訊息頁", root_path(:box => "unread") %>    
                  </li>   
              </ul>   
            </div>    
          </li>
          <% end %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Your Conversations', conversations_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  
    <%= yield %>
  </div>
</body>
</html>
